.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.questions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin: 5vh auto;
  justify-content: center;
  overflow: hidden;
}

.question-card {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1vh 1vw;
  overflow: hidden;
  padding: 1px;
  transition: 0.3s;
  width: 300px;
}
.question-card button {
  background-color: #C4C4C4;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  min-width: 250px;
  padding: 10px;
  transition: 0.45s;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
